<% if o.organisations_groups.include?(current_user) %>
<form action="/groups/<%= organisation.find_group_id.current_user %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="_method"  value="delete">
<input type="submit" value="Leave_Group">	
</form>

